@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Open+Sans&family=Poppins&family=Rubik&family=Ubuntu&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Bai Jamjuree', sans-serif;
}
.head{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: url(images/bg-header-desktop.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: scroll;
}
.head span{
 font-family: sans-serif;
 font-weight: 100;
 margin: 30px;
 font-size: 10rem;
 color: hsl(171, 66%, 44%);
}
.head h1{
 margin: 30px;
 font-size: 18px;
 font-size: 3rem;
 font-weight: 900;
}
.head p{
 width: 850px;
 font-size: 1.5rem;
 text-align: center;
}
.headButton{
 display: flex;
 justify-content: space-between;
}
.headButton button{
 width: 250px;
 font-size: 1.2rem;
 border-radius: 30px;
 margin:10px;
 margin-top: 40px;
 height: 60px;
 color: white;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 200ms linear;
}
.button1{
 background: hsl(171, 66%, 44%);
 box-shadow: 0 5px 10px hsla(171, 66%, 44%, 0.534);
}
.button2{
 background: hsl(233, 100%, 69%);
 box-shadow: 0 5px 10px hsla(233, 100%, 69%, 0.664);
}
.part1{
 margin-top: 150px;
}
.firstText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.firstText p{
 width: 700px;
 font-size: 18px;
 text-align: center;
}
.flexbox{
width: 100%;
 margin-top: 100px;
 display: flex;
justify-content: center;
}
.flexbox img{
 align-self: flex-start;
 margin-right: 100px;
}
.secText{
 margin-right: 300px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.secText p{
 width: 400px;
 font-size: 18px;
 text-align: left;
}
.part2{
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
}
.part2text-1{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 50px;
}
.part2text-1 p{
 width: 700px;
 font-size: 18px;
 text-align: center;
}
.part3{
 margin-top: 50px;
 display: flex;
 justify-content: space-around;
 flex-basis: 33.33333%;
}
.part3 div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.part3 div:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 100ms linear;
}
.part3 p{
 width: 350px;
 text-align: center;
}
.part4{
 margin-top: 150px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-basis: 20%;
}
.partner:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 100ms linear;
}
.part5{
 margin-top: 150px;
 margin-bottom: 200px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}
.part5 p{
 text-align: center;
 width: 600px;
 margin-bottom: 30px;
}
footer{
 width: 100%;
 background:  hsl(201, 11%, 66%);
 display: flex;
 padding: 50px;
 justify-content: space-around;
 align-items: center;
 color: white;
}
.footerNavLink{
 width: 500px;
 height: 50px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
a:hover{
    cursor: pointer;
}
.social_link{
 font-size: 2rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.social_link div{
 margin: 10px;
}
i:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 100ms linear;
}